.header {
    background-color: rgb(0, 0, 155);
    color: white;
    text-align: right;
}

.headerText{
    background-color: rgb(0, 0, 155);
    color: white;
    text-align: center;
}

.logoutButton {
    text-align: right;
}
